*{ box-sizing: border-box }

#root{
    margin-top: 75px;
    overflow: hidden;
}

@media(max-height: 920px){
    #root{
        margin-top: 75px;
    }
}

html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

div{
    display: block;
}

body{
    background: rgb(237, 241, 245);
    color: rgb(92, 114, 138);
    font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

:before{
    box-sizing: border-box
}

:after{
    box-sizing: border-box;
}

@media (max-height: 920px){
    .nav[data-nav]{
        height: 68px;
    }
}

/*
Hide nav ba
*/

.hidden[data-nav] {
    top: -97px !important;
}

/*end*/

.nav[data-nav]{
    display: flex;
    height: 75px;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: background .8s ease,color .2s;
    user-select: none;
    width: 100%;
    z-index: 999;
}

.nav[data-nav]{
    background: #2b2d42;
    color: #bcbedc;
}

.wrap[data-nav]{
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1050px;
    width: 100%;
}

.logo[data-nav]{
    align-items: center;
    display: inline-flex;
    height: 55px;
    justify-content: center;
    width:65px;
}

a:visited{
    color: inherit;
}

a{
    text-decoration: none;
    transition: .15s;
    outline: 0;
}

a{
    background-color: transparent;
}

.links[data-nav]{
    align-items: center;
    display: inline-flex;
    font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    text-transform: capitalize;
    width: 100%;
}

.link[data-nav]{
    letter-spacing: .01em;
    padding: 18px 16px;
    color: inherit;
    text-decoration: none;
    transition: .15s;
    outline: 0;
}

.link[data-nav]:visited{
    color: inherit;
}

.login[data-nav]{
    margin-left:70px;
    padding-right: 24px;
}

.signup{
    background: #3577ff;
    border-radius: 6px;
    box-shadow: 0 0 0 rgb(8 150 230 / 60%);
    color: rgb(255, 255, 255) !important;
    font-size: 1rem;
    font-weight:800;
    margin-right: -70px;
    padding: 10px 15px !important;
    transition: box-shadow .6s ease,transform .2s ease-in-out !important;
}

Link{
  color: inherit;
  text-decoration: none;
  transition: .15s;
  outline: none;
  background-color: transparent;  
}

span{
    color: inherit;
}

.browse-wrap[data-nav]{
    position: relative
}

.dropdown[data-nav]{
    background: rgb(251, 251, 251);
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(103, 132, 187, .25), 0 4px 4px rgba(103, 132, 187, .25);
    font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    left: -5px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 32px;
    transition: opacity .2s ease;
    user-select: none;
    width: 270px;
}

.dropdown[data-nav]:hover{
    opacity:1;
    user-select: none;
    pointer-events: auto;
}

.dropdown[data-nav]::before{
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    transform: scale(1.01);
    border-bottom: 0.4rem solid currentColor;
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    bottom: 100%;
    color: rgb(251, 251, 251);
    left: 15%;
    position: absolute;
}

.browse-wrap[data-nav]:hover .dropdown{
    animation: dropdown-in-data-nav;
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}

.browse-wrap[data-nav]:hover:after{
    content: "";
    height: 20px;
    left: 0px;
    position: absolute;
    width: 150% !important;
    top: 100%;
}

.primary-links[data-nav]{
    padding: 21px 27px;
}

.primary-link[data-nav]{
    margin-bottom: 16px;
}

.primary-link[data-nav]{
    align-items: center;
    color:rgb(100, 115, 128);
    display: grid;
    font-size: 1.5rem;
    font-weight: 700;
    grid-column-gap: 14px;
    grid-template-columns: 20px auto;
    transition: color .2s ease;
}

@keyframes dropdown-in-data-nav {
    0%{
        opacity: 0;
        transform: translateY(-5px);
    }

    60%{
        opacity: 1;
    }

    100%{
        transform: none;
    }
}

/*
Login page
*/
form{
    display: block;
    margin-top: 0em;
}
input{
    overflow: visible;
    font-family: sans-serif;
    margin: 0;
}
.page-content{
    min-height: 100vh;
}

.auth-form-unscoped .form {
    max-width: 400px;
    width: 100%;
    background: rgb(250, 250, 250);
    border-radius: 4px;
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

.auth-form-unscoped .title{
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 60px;
}

.auth-form-unscoped .al-input{
    background: rgba(237, 241, 245, .7);
    border-radius: 4px;
    border: 0;
    box-shadow: none;
    color: rgb(92, 114, 138);
    font-size: 1rem;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    padding: 0 15px;
    width: 100%;
}

.auth-form-unscoped .al-input:focus{
    box-shadow: none;
    outline: 0;
}

.auth-form-unscoped .submit{
    background: rgb(61, 180, 242);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 30px;
    border: 0;
}

.auth-form-unscoped .link{
    display: block;
    font-size: 1rem;
    margin-top: 20px;
    color: rgb(146, 153, 161)
}

.auth-form-unscoped .link.signup-2{
    margin-top: 80px;
}

.auth-form-unscoped .link.signup-2 span{
    color: rgb(61, 180, 242);
}

@media (min-width: 1540px){
    .container{
        max-width: 1520px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.container{
    margin: 0 auto;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

/* end of login page*/

/*CSS that acompanies bootstrap classes*/

.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}

.submit-form {
    max-width: 300px;
    margin: auto;
}

.edit-form {
    max-width: 300px;
    margin: auto;
}

/*
Footer
*/

.footer[data-nav-2]{
    background: #11161d;
    color: #a0b1c5;
    font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 600;
    margin-top: 20px;
    min-height: 100px;
    padding: 50px 30px;
    text-align: left;
    width: 100%;
}

.default[data-nav-2]{
    background: #edf1f5;
    color: #2e3c48;
}

.theme-preview[data-nav-2]{
    border-radius: 3px;
    border: 2px solid #46546b;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: 25px;
    margin-right: 10px;
    padding-left: 2px;
    /*padding-top: 5px;*/
    width: 25px;
}

.container[data-nav-2]{
    display: flex;
}

.wrap[data-nav-2]{
    margin-top: 60px;
    text-align: center;
}

h2[data-nav-2]{
    color: #3db4f2;
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 14px;
}

.el-tooltip:focus:focus:hover, .el-tooltip:focus:not(.focusing){
    outline-width: 0;
}

.links[data-nav-2]{
    display: flex;
    font-size: 1.5rem;
    margin-left: auto;
}

.links section[data-nav-2]{
    margin-left: 80px;
}

.links a[data-nav-2]{
    display: block;
    padding: 10px;
}

section{
    display: block;
}